<app-sidenav [(sidenavOpen)]="this.sidenavOpen"></app-sidenav>
<mat-toolbar class="toolbar">
    <div>
        <button mat-icon-button color="black" (click)="sidenavOpen = !sidenavOpen" id="menu-button">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div #first id="first" class="row">
    <!--
    <div class="centered shadow">
        <img src="../../assets/img/hbz_logo.PNG">
    </div>
-->
</div>
<div #second id="second" class="row">
</div>
<div #third id="third" class="row">
</div>