.row{
    height: 100vh;
}

#first{
    background-image: url('../../assets/img/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    /*background-color: #e5afa9;*/

}

#second{
    background-color: chocolate;
}

#third{
    background-color: cyan;
}

.toolbar{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shadow{
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.60);
}

#menu-button{
    background-color: #7c6462;
    opacity: 70%;
}