<mat-sidenav-container class="container">
    <mat-sidenav id="sidenav" #sidenav mode="over" [(opened)]="sidenavOpen" [fixedInViewport]="true">
      <mat-list id="nav">
          <mat-list-item>
              <button (click)="scrollToElement('first')" mat-button>
                  Home
              </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="scrollToElement('second')" mat-button>
                Number 2
            </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="scrollToElement('third')" mat-button>
                Number 3
            </button>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
  </mat-sidenav-container>