#sidenav{
    width: 20vw;
    background-color: #7c6462;
    opacity: 80%;
    min-width: 300px;
}

#nav{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}